
body {
  max-width: 100%;
  max-height:100%;
  width: auto;
  height: auto;
  }
  
.navbar {
  margin-bottom: 20px;
}

.containerfoot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link{
    font-size: 1.5rem;
}


.nav-link.active{
  color: black;
  font-size: 1.5rem;
  text-decoration: underline;
}